<!DOCTYPE html>
<html>
  <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Take care of other pets</title>

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet">

		<!-- Custom styles for this template-->
		<link href="stylesheets/index.css" rel="stylesheet">
  </head>
	<body id="page-top">
		<%- include navbar.ejs %>
		
		<div id="wrapper">
			<%- include sidebar.ejs %>
			
			<div id="content-wrapper">
				<div class="container-fluid">
					<%- include name.ejs %>

					<div class="card-body">
						<div class="form-group row">
							<label for="username" class="col-sm-2 col-form-label"><b>User ID:</b></label>
							<div class="col-sm-4">
								<input type="text" required="required" readonly class="form-control-plaintext" id="username" value="<%= user %>" name="username">
							</div>
						</div>
						<div class="form-group row">
							<label for="username" class="col-sm-2 col-form-label"><b>Name:</b></label>
							<div class="col-sm-4">
								<input type="text" required="required" readonly class="form-control-plaintext" id="name" value="<%= name %>" name="name">
							</div>
						</div>
						<div class="form-group row">
							<label for="name" class="col-sm-2 col-form-label"><b>Status:</b></label>
							<div class="col-sm-4">
								<% if (caretaker_tbl[0].is_fulltime) { %>
									<input type="text" required="required" readonly class="form-control-plaintext" id="name" placeholder="Name" name="name"
										   value="Full-timer">
								<% } else { %>
									<input type="text" required="required" readonly class="form-control-plaintext" id="name" placeholder="Name" name="name"
										   value="Part-timer">
								<% } %>
							</div>
						</div>
						<div class="form-group row">
							<label for="name" class="col-sm-2 col-form-label"><b>Average Rating:</b></label>
							<div class="col-sm-4">
								<input type="text" required="required" readonly class="form-control-plaintext" id="rating" name="rating" placeholder="rating"
									   value="<%= caretaker_rating_tbl[0].get_rating %>">
							</div>
						</div>
						<div class="form-group row">
							<label for="name" class="col-sm-2 col-form-label"><b>This month's salary:</b></label>
							<div class="col-sm-4">
								<input type="text" required="required" readonly class="form-control-plaintext" id="salary" name="salary" placeholder="salary"
									   value="<%= salary_tbl[0].get_salary %>">
							</div>
						</div>
					</div>

					<div class="card mb-3">
						<div class="card-header">
							<i class="fas fa-dice"></i> &nbsp; All completed bids
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead>
									<tr>
										<th>Status</th>
										<th>Total Price</th>
										<th>Transfer Method</th>
										<th>Payment Type</th>
										<th>Owner username</th>
										<th>Pet name</th>
										<th>Start Date</th>
										<th>End Date</th>
									</tr>
									</thead>
									<tbody>
									<% for(var i=0; i<completed_bid_tbl.length; i++) { %>
										<tr>
											<td><%= completed_bid_tbl[i].status %></td>
											<td><%= completed_bid_tbl[i].total_price %></td>
											<td><%= completed_bid_tbl[i].transfer_method %></td>
											<td><%= completed_bid_tbl[i].payment_type %></td>
											<td><%= completed_bid_tbl[i].owner_username %></td>
											<td><%= completed_bid_tbl[i].pet_name %></td>
											<td><%= completed_bid_tbl[i].start_date %></td>
											<td><%= completed_bid_tbl[i].end_date %></td>
										</tr>
									<% } %>
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<div class="card mb-3">
						<div class="card-header">
							<i class="fas fa-dice"></i> &nbsp; All accepted bids
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead>
									<tr>
										<th>Status</th>
										<th>Total Price</th>
										<th>Transfer Method</th>
										<th>Payment Type</th>
										<th>Owner username</th>
										<th>Pet name</th>
										<th>Start Date</th>
										<th>End Date</th>
										<th>Complete!</th>
									</tr>
									</thead>
									<tbody>
									<% for(var i=0; i<accepted_bid_tbl.length; i++) { %>
										<tr>
											<td><%= accepted_bid_tbl[i].status %></td>
											<td><%= accepted_bid_tbl[i].total_price %></td>
											<td><%= accepted_bid_tbl[i].transfer_method %></td>
											<td><%= accepted_bid_tbl[i].payment_type %></td>
											<td><%= accepted_bid_tbl[i].owner_username %></td>
											<td><%= accepted_bid_tbl[i].pet_name %></td>
											<td><%= accepted_bid_tbl[i].start_date %></td>
											<td><%=accepted_bid_tbl[i].end_date %></td>
											<td><form method="post" action="/caretaker_complete_bid">
												<input type="hidden" id=<%="owner_username" + i%> name="owner_username" value=<%= accepted_bid_tbl[i].owner_username %>>
												<input type="hidden" id=<%="pet_name" + i%> name="pet_name" value=<%= accepted_bid_tbl[i].pet_name %>>
												<input type="hidden" id=<%="start_date"  + i%> name="start_date" value=<%= getDateString(accepted_bid_tbl[i].start_date) %>>
												<input type="hidden" id=<%="end_date"  + i%> name="end_date" value=<%= getDateString(accepted_bid_tbl[i].end_date) %>>
												<button type="submit" class="btn btn-secondary">Complete</button>
											</form>
												</td>
												</tr>
										</tr>
									<% } %>
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<% if (accepted_bid_tbl.length > 0) { %>
						<div class="card mb-3">
							<div class="card-header">
								<i class="fas fa-dice-d20"></i> &nbsp; Complete accepted bid:
							</div>
							<form method="post" action="/caretaker_complete_bid">
								<div class="card-body">
									<div class="form-group row">
										<label for="text" class="col-sm-3 col-form-label"><b>Owner's username:</b></label>
										<div class="col-sm-9">
											<input required="required" class="form-control" id="owner_username" placeholder="theSuperPet" name="owner_username" value="" type="text">
										</div>
									</div>
									<div class="form-group row">
										<label for="text" class="col-sm-3 col-form-label"><b>Name of pet:</b></label>
										<div class="col-sm-9">
											<input required="required" class="form-control" id="pet_name" placeholder="Kiki" name="pet_name" value="" type="text">
										</div>
									</div>
									<div class="form-group row">
										<label for="date" class="col-sm-3 col-form-label"><b>Start Date:</b></label>
										<div class="col-sm-9">
											<input required="required" class="form-control" id="start_date" placeholder="2020-01-01" name="start_date" value="" type="date">
										</div>
									</div>
									<div class="form-group row">
										<label for="date" class="col-sm-3 col-form-label"><b>End Date:</b></label>
										<div class="col-sm-9">
											<input required="required" class="form-control" id="end_date" placeholder="2020-01-03" name="end_date" value="" type="date">
										</div>
									</div>
								</div>
								<div class="card-footer small text-muted">
									<button type="submit" class="btn btn-secondary">Complete</button>
									<span class="badge badge-pill badge-info"><%= complete_bid_msg %></span>
								</div>
							</form>
						</div>
					<% } %>

					<div class="card mb-3">
						<div class="card-header">
							<i class="fas fa-dice"></i> &nbsp; All pending bids
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead>
									<tr>
										<th>Status</th>
										<th>Total Price</th>
										<th>Transfer Method</th>
										<th>Payment Type</th>
										<th>Owner username</th>
										<th>Pet name</th>
										<th>Start Date</th>
										<th>End Date</th>
										<th>Accept!</th>
										<th>Reject!</th>
									</tr>
									</thead>
									<tbody>
									<% for(var i=0; i<pending_bid_tbl.length; i++) { %>
										<tr>
											<td><%= pending_bid_tbl[i].status %></td>
											<td><%= pending_bid_tbl[i].total_price %></td>
											<td><%= pending_bid_tbl[i].transfer_method %></td>
											<td><%= pending_bid_tbl[i].payment_type %></td>
											<td><%= pending_bid_tbl[i].owner_username %></td>
											<td><%= pending_bid_tbl[i].pet_name %></td>
											<td><%= pending_bid_tbl[i].start_date %></td>
											<td><%= pending_bid_tbl[i].end_date %></td>
											<td><form method="post" action="/caretaker_accept_bid">
												<input type="hidden" id=<%="powner_username" + i%> name="owner_username" value=<%= pending_bid_tbl[i].owner_username %>>
												<input type="hidden" id=<%="ppet_name" + i%> name="pet_name" value=<%= pending_bid_tbl[i].pet_name %>>
												<input type="hidden" id=<%="pstart_date"  + i%> name="start_date" value=<%= getDateString(pending_bid_tbl[i].start_date) %>>
												<input type="hidden" id=<%="pend_date"  + i%> name="end_date" value=<%= getDateString(pending_bid_tbl[i].end_date) %>>
												<button type="submit" class="btn btn-secondary">ACCEPT</button>
											</form></td>
											<td><form method="post" action="/caretaker_reject_bid">
												<input type="hidden" id=<%="powner_username" + i%> name="owner_username" value=<%= pending_bid_tbl[i].owner_username %>>
												<input type="hidden" id=<%="ppet_name" + i%> name="pet_name" value=<%= pending_bid_tbl[i].pet_name %>>
												<input type="hidden" id=<%="pstart_date"  + i%> name="start_date" value=<%= getDateString(pending_bid_tbl[i].start_date) %>>
												<input type="hidden" id=<%="pend_date"  + i%> name="end_date" value=<%= getDateString(pending_bid_tbl[i].end_date) %>>
												<button type="submit" class="btn btn-secondary">REJECT</button>
											</form></td>
										</tr>
									<% } %>
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<% if (pending_bid_tbl.length > 0) { %>
					<div class="card mb-3">
						<div class="card-header">
							<i class="fas fa-dice-d20"></i> &nbsp; Accept pending bid:
						</div>
						<form method="post" action="/caretaker_accept_bid">
							<div class="card-body">
								<div class="form-group row">
									<label for="text" class="col-sm-3 col-form-label"><b>Owner's username:</b></label>
									<div class="col-sm-9">
										<input required="required" class="form-control" id="owner_username" placeholder="theSuperPet" name="owner_username" value="" type="text">
									</div>
								</div>
								<div class="form-group row">
									<label for="text" class="col-sm-3 col-form-label"><b>Name of pet:</b></label>
									<div class="col-sm-9">
										<input required="required" class="form-control" id="pet_name" placeholder="Kiki" name="pet_name" value="" type="text">
									</div>
								</div>
								<div class="form-group row">
									<label for="date" class="col-sm-3 col-form-label"><b>Start Date:</b></label>
									<div class="col-sm-9">
										<input required="required" class="form-control" id="start_date" placeholder="2020-01-01" name="start_date" value="" type="date">
									</div>
								</div>
								<div class="form-group row">
									<label for="date" class="col-sm-3 col-form-label"><b>End Date:</b></label>
									<div class="col-sm-9">
										<input required="required" class="form-control" id="end_date" placeholder="2020-01-03" name="end_date" value="" type="date">
									</div>
								</div>
							</div>
							<div class="card-footer small text-muted">
								<button type="submit" class="btn btn-secondary">Accept Bid</button>
								<span class="badge badge-pill badge-info"><%= accept_bid_msg %></span>
							</div>
						</form>
					</div>
					<% } %>

					<div class="card mb-3">
						<div class="card-header">
							<i class="fas fa-dice-d20"></i> &nbsp; Add available date:
						</div>
						<form method="post" action="/add_availability">
							<div class="card-body">
								<div class="form-group row">
									<label for="date" class="col-sm-3 col-form-label"><b>Date:</b></label>
									<div class="col-sm-9">
										<input required="required" class="form-control" id="date" placeholder="2020-01-01" name="date" value="" type="date">
									</div>
								</div>
							</div>
							<div class="card-footer small text-muted">
								<button type="submit" class="btn btn-secondary">Add Date</button>
								<span class="badge badge-pill badge-info"><%= date_msg %></span>
							</div>
						</form>
					</div>

					<div class="card mb-3">
						<div class="card-header">
							<i class="fas fa-dice-d20"></i> &nbsp; Apply for leave:
						</div>
						<form method="post" action="/apply_for_leave">
							<div class="card-body">
								<div class="form-group row">
									<label for="date" class="col-sm-3 col-form-label"><b>Date:</b></label>
									<div class="col-sm-9">
										<input required="required" class="form-control" id="date" placeholder="2020-01-01" name="date" value="" type="date">
									</div>
								</div>
							</div>
							<div class="card-footer small text-muted">
								<button type="submit" class="btn btn-secondary">Apply for leave</button>
							</div>
						</form>
					</div>

					<div class="card mb-3">
						<div class="card-header">
							<i class="fas fa-dice-d20"></i> &nbsp; Add the type of pet that you can care for:
						</div>

						<form method="post" action="/add_caretaker_type_of_pet">
							<div class="card-body">
								<!-- Type of pet -->
								<div class="form-group row">
									<label for="date" class="col-sm-3 col-form-label"><b>Type of pet:</b></label>
									<div class="col-sm-9">
										<!-- <input type="text" required="required" class="form-control" id="type" placeholder="Cat" name="type" value=""> -->
										<select name="type" class="custom-select">
											<% for(var i=0; i<pet_tbl.length; i++) { %>
												<option>
													<%= pet_tbl[i].pet_type %>
												</option>
											<% } %>
										</select>
									</div>
								</div>
							</div>
							<div class="card-footer small text-muted">
								<button type="submit" class="btn btn-secondary">Add</button>
								<span class="badge badge-pill badge-info"><%= caretaker_pet_type_msg %></span>
							</div>
						</form>
					</div>

					<!-- ONLY FOR PART-TIMER -->
					<% if (caretaker_tbl[0].is_fulltime == false && caretaker_pet_tbl.length > 0) { %>
					<div class="card mb-3">
						<div class="card-header">
							<i class="fas fa-dice-d20"></i> &nbsp; Edit the price of pet you can care for
						</div>

						<form method="post" action="/edit_caretaker_price_of_pet">
							<div class="card-body">
								<!-- Type of pet -->
								<div class="form-group row">
									<label for="date" class="col-sm-3 col-form-label"><b>Type of pet:</b></label>
									<div class="col-sm-9">
										<select name="type" class="custom-select">
											<% for(var i=0; i<caretaker_pet_tbl.length; i++) { %>
												<option>
													<%= caretaker_pet_tbl[i].pet_type %>
												</option>
											<% } %>
										</select>
									</div>
								</div>

								<!-- Price -->
								<div class="form-group row">
									<label for="date" class="col-sm-3 col-form-label"><b>Price:</b></label>
									<div class="col-sm-9">
										<input type="text" required="required" class="form-control" id="price" placeholder="15.90" name="price" value="">
									</div>
								</div>

							</div>
							<div class="card-footer small text-muted">
								<button type="submit" class="btn btn-secondary">Edit</button>
								<span class="badge badge-pill badge-info"><%= caretaker_pet_price_msg %></span>
							</div>
						</form>
					</div>
					<% } %>

					<div class="card mb-3">
						<div class="card-header">
							<i class="fas fa-dice"></i> &nbsp; Pet type
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead>
									<tr>
										<th>Type of pet</th>
										<th>Price</th>
									</tr>
									</thead>
									<tfoot>
									<th colspan="2">Total: <i><%= ctx2 %></i></th>
									</tfoot>
									<tbody>
									<% for(var i=0; i<tbl2.length; i++) { %>
										<tr>
											<td><%= tbl2[i].pet_type %></td>
											<td><%= tbl2[i].price %></td>
										</tr>
									<% } %>
									</tbody>
								</table>
							</div>
						</div>
						<div class="card-footer small text-muted"></div>
					</div>
					
					<div class="card mb-3">
						<div class="card-header">
							<i class="fas fa-dice"></i> &nbsp; Availability List
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th>Date</th>
										</tr>
									</thead>
									<tfoot>
										<th colspan="2">Total: <i><%= ctx %></i></th>
									</tfoot>
									<tbody>
										<% for(var i=0; i<tbl.length; i++) { %>
										<tr>
											<td><%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(tbl[i].date) %></td>
										</tr>
										<% } %>
									</tbody>
								</table>
							</div>
						</div>
						<div class="card-footer small text-muted"></div>
					</div>

				</div>
			</div>
		</div>
		
		<%- include bottomscript.ejs %>
  </body>
</html>
