<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Manage your pets</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="stylesheets/index.css" rel="stylesheet">
</head>

<body id="page-top">
    <%- include navbar.ejs %>

    <div id="wrapper">
        <%- include sidebar.ejs %>

        <div id="content-wrapper">
            <div class="container-fluid">
                <%- include name.ejs %>

                <div class="card-body">
                    <div class="form-group row">
                        <label for="username" class="col-sm-2 col-form-label"><b>User ID:</b></label>
                        <div class="col-sm-4">
                            <input type="text" required="required" readonly class="form-control-plaintext" id="username"
                                value="<%= user %>" name="username">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="username" class="col-sm-2 col-form-label"><b>Name:</b></label>
                        <div class="col-sm-4">
                            <input type="text" required="required" readonly class="form-control-plaintext" id="name"
                                value="<%= name %>" name="name">
                        </div>
                    </div>
                   
                </div>
                
                <!-- add a new pet -->
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-dice-d20"></i> &nbsp; Add a pet 
                    </div>
                
                    <form method="post" action="/add_pet">
                        <div class="card-body">
                            <!-- Type of pet -->
                            <div class="form-group row">
                                <label for="name" class="col-sm-2 col-form-label"><b>Pet Name:</b></label>
                                <div class="col-sm-4">
                                    <input type="text" required="required" class="form-control" id="petname" placeholder="Pet Name" name="petname">
                                </div>
                                <label for="" class="col-sm-2 col-form-label"><b>Type of pet:</b></label>
                                <div class="col-sm-4">
                                    <!-- <input type="text" required="required" class="form-control" id="type" placeholder="Cat" name="type" value=""> -->
                                    <select name="type" class="custom-select">
                                        <% for(var i=0; i<pettype_tbl.length; i++) { %>
                                        <option>
                                            <%= pettype_tbl[i].name %>
                                        </option>
                                        <% } %>
                                    </select>
                                </div>

                                <br />
                                <br />
                                
                                <label for="specreq" class="col-sm-4 col-form-label"><b>Special Requirement:</b></label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="specreq" placeholder="Special Requirement" name="specreq">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer small text-muted">
                            <button type="submit" class="btn btn-secondary">Add Pet</button>
                            <span class="badge badge-pill badge-info"><%= addpet_msg %></span>
                        </div>
                    </form>
                </div>
                
                <!-- list of pets -->
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-dice-d20"></i> &nbsp; Pets
                    </div>

                    <% for(var i=0; i<pet_tbl.length; i++) { %>
                        <form method="post" action="/update_pet">
                            <div class="card">
                                <div class="card-body">
                                    <label for="name" class="col-sm-2 col-form-label"><b>Pet Name:</b> </label>
                                    <div class="col-sm-4">
                                        <input type="text" required="required" readonly class="form-control-plaintext" id="currname"
                                            value="<%= pet_tbl[i].name %>" name="currname">
                                    </div>
                                    
                                    <label for="type" class="col-sm-10 col-form-label"> <b>Pet Type:</b> </label>
                                    <div class="col-sm-4">
                                        <input type="text" required="required" readonly class="form-control-plaintext" id="pettype"
                                            value="<%= pet_tbl[i].pet_type %>" name="pettype">
                                    </div>
                                    
                                    <label for="specreq" class="col-sm-4 col-form-label"><b>Special Requirement:</b></label>
                                    <div class="col-sm-12">
                                        <input type="text" readyonly class="form-control-plaintext" id="specreq" placeholder="" name="specreq">
                                    </div>

                                    <label for="changename" class="col-sm-4 col-form-label"><b>Update Name:</b></label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" id="specreq" placeholder="New Name"
                                            name="newname">
                                    </div>

                                    
                                </div>
                                <div class="card-body small text-muted">
                                    <button type="submit" class="btn btn-secondary">Update Pet</button>
                                    <span class="badge badge-pill badge-info"><%= updatepet_msg %></span>
                                </div>

                            </div>
          
                        </form>

                         

                    <% } %>
                
                
                </div>


            </div>
        </div>
    </div>

    <%- include bottomscript.ejs %>
</body>

</html>